*{
    overflow: hidden;
}

.map-container {
height: 100vh;
width: 100%;
/* overflow:hidden; */
}

.caveman img{
    width: 100%;
    max-width: 150px;
    object-fit: contain;
}
.map{
    height: 100vh;
    width: 100%;

}

